body {
    background: #2e2e2e;
    color: #e5e7eb;
    font-family: 'Iosevka Term SS03 Light Oblique', monospace;
    
}
a {
    color: #e5e7eb;
    text-decoration: none;
}
a:hover {
    color: #f3f4f6;
    zoom: 1.05;
    transition: all 0.2s ease-in;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    justify-content: center;
    display: flex;
}

ul li {
    margin: 1px;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    background-color: #22222269;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}



div#info-box {
    width: 150px;
    max-width: 100%;
    height: 250px;
    background-color: #22222269;
    color: white;
    padding: 20px;
}

div#info-box2 {
    width: 150px;
    max-width: 100%;
    height: 225px;
    background-color: #22222269;
    color: white;
    padding: 20px;
}

.box-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
@font-face {
    font-family: 'Iosevka Term SS03 Light Oblique';
    src: url(port/fonts/IosevkaTermSS03-LightOblique.woff2) format('woff2');
    font-weight: normal;
}

div#info-box3 {
    width: 150px;
    height: 210px;
    max-width: 100%;
    background-color: #22222269;
    color: white;
    padding: 20px;
}

div#info-box4 {
    width: 300px;
    height: 525px;
    background-color: #22222269;
    color: white;
    padding: 20px;
}
div img {
    width: 100%;
    height: auto;
    border-radius: 1px;
}

div#info-box5 {
    width: 300px;
    height: 300px;
    background-color: #22222269;
    color: white;
    padding: 20px;
}
div#info-box5 a {
    padding: 5px;
    border: 1px solid #ffffff;
}
div#pro-box {
    width: 300px;
    height: 300px;
    background-color: #22222269;
    color: white;
    padding: 20px;
}

#infoex {
    width: 450px;
    height: 45px;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #22222269;
}
#infoex img {
    width: 50px;
    height: auto;
    border-radius: 1px;
}
#info-boxpic {
    width: 400px;
    height: 300px;
    background-color: #22222269;
    color: white;
    padding: 20px;
}
#info-boxpic img {
    width: 100%;
    height: auto;
    border-radius: 1px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.space {
    padding : 10px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.infoex h2 {
    justify-content: center;
}
div#info-box:hover {
    background-color: #111111;
}
div#info-box2:hover {
    background-color: #111111;
}
div#info-box3:hover {
    background-color: #111111;
}
div#info-box4:hover {
    background-color: #111111  ;
}
div#info-box5:hover {
    background-color: #111111;
}
div#pro-box:hover {
    background-color: #111111  ;
}
div#infoex:hover {
    background-color: #111111  ;
}
div#info-boxpic:hover {
    background-color: #111111  ;
}
#info-boxpic a {
    padding: 5px;
    border: 1px solid #ffffff;
}

